body {
	font-family: 'Lato', sans-serif;
	background-color: #FFFFFF;
}

.mlr-fixer {
	margin-left: -15px;
	margin-right: -15px;
}
/*===========Wrapper===========*/
.p-1x 	{padding: 1px}
.p-2x 	{padding: 2px}
.p-xxs 	{padding: 3px}
.p-xs 	{padding: 5px}
.p-sm 	{padding: 10px}
.p 		{padding: 15px}
.p-md 	{padding: 20px}
.p-lg 	{padding: 25px}
.p-xl 	{padding: 30px}
.p-xxl 	{padding: 50px}


/*===========Padding Left===========*/
.p-l-1x 	{padding-left: 1px}
.p-l-2x 	{padding-left: 2px}
.p-l-xxs 	{padding-left: 3px}
.p-l-xs 	{padding-left: 5px}
.p-l-sm 	{padding-left: 10px}
.p-l 		{padding-left: 15px}
.p-l-md 	{padding-left: 20px}
.p-l-lg 	{padding-left: 25px}
.p-l-xl 	{padding-left: 30px}
.p-l-xxl 	{padding-left: 50px}

/*===========Padding right===========*/
.p-r-1x 	{padding-right: 1px}
.p-r-2x 	{padding-right: 2px}
.p-r-xxs 	{padding-right: 3px}
.p-r-xs 	{padding-right: 5px}
.p-r-sm 	{padding-right: 10px}
.p-r 		{padding-right: 15px}
.p-r-md 	{padding-right: 20px}
.p-r-lg 	{padding-right: 25px}
.p-r-xl 	{padding-right: 30px}
.p-r-xxl 	{padding-right: 50px}

/*===========Padding top===========*/
.p-t-1x 	{padding-top: 1px}
.p-t-2x 	{padding-top: 2px}
.p-t-xxs 	{padding-top: 3px}
.p-t-xs 	{padding-top: 5px}
.p-t-sm 	{padding-top: 10px}
.p-t 		{padding-top: 15px}
.p-t-md 	{padding-top: 20px}
.p-t-lg 	{padding-top: 25px}
.p-t-xl 	{padding-top: 30px}
.p-t-xxl 	{padding-top: 50px}

/*===========Padding bottom===========*/
.p-b-1x 	{padding-bottom: 1px}
.p-b-2x 	{padding-bottom: 2px}
.p-b-xxs 	{padding-bottom: 3px}
.p-b-xs 	{padding-bottom: 5px}
.p-b-sm 	{padding-bottom: 10px}
.p-b 		{padding-bottom: 15px}
.p-b-md 	{padding-bottom: 20px}
.p-b-lg 	{padding-bottom: 25px}
.p-b-xl 	{padding-bottom: 30px}
.p-b-xxl 	{padding-bottom: 50px}

/*===========padding vertical===========*/
.p-v-1x 	{padding-top: 1px; padding-bottom: 1px}
.p-v-2x 	{padding-top: 2px; padding-bottom: 2px}
.p-v-xxs 	{padding-top: 3px; padding-bottom: 3px}
.p-v-xs 	{padding-top: 5px; padding-bottom: 5px}
.p-v-sm 	{padding-top: 10px; padding-bottom: 10px}
.p-v 		{padding-top: 15px; padding-bottom: 15px}
.p-v-md 	{padding-top: 20px; padding-bottom: 20px}
.p-v-lg 	{padding-top: 25px; padding-bottom: 25px}
.p-v-xl 	{padding-top: 30px; padding-bottom: 30px}
.p-v-xxl 	{padding-top: 50px; padding-bottom: 50px}

/*===========padding horizontal===========*/
.p-h-1x 	{padding-left: 1px; padding-right: 1px}
.p-h-2x 	{padding-left: 2px; padding-right: 2px}
.p-h-xxs 	{padding-left: 3px; padding-right: 3px}
.p-h-xs 	{padding-left: 5px; padding-right: 5px}
.p-h-sm 	{padding-left: 10px; padding-right: 10px}
.p-h 		{padding-left: 15px; padding-right: 15px}
.p-h-md 	{padding-left: 20px; padding-right: 20px}
.p-h-lg 	{padding-left: 25px; padding-right: 25px}
.p-h-xl 	{padding-left: 30px; padding-right: 30px}
.p-h-xxl 	{padding-left: 50px; padding-right: 50px}


/*===========margin===========*/
.m-1x 	{margin: 1px}
.m-2x 	{margin: 2px}
.m-xxs 	{margin: 3px}
.m-xs 	{margin: 5px}
.m-sm 	{margin: 10px}
.m 		{margin: 15px}
.m-md 	{margin: 20px}
.m-lg 	{margin: 25px}
.m-xl 	{margin: 30px}
.m-xxl 	{margin: 50px}

/*===========margin bottom===========*/
.m-b-1x 	{margin-bottom: 1px}
.m-b-2x 	{margin-bottom: 2px}
.m-b-xxs 	{margin-bottom: 3px}
.m-b-xs 	{margin-bottom: 5px}
.m-b-sm 	{margin-bottom: 10px}
.m-b 		{margin-bottom: 15px}
.m-b-md 	{margin-bottom: 20px}
.m-b-lg 	{margin-bottom: 25px}
.m-b-xl 	{margin-bottom: 30px}
.m-b-xxl 	{margin-bottom: 50px}

/*===========margin bottom negative===========*/
.m-b-n-1x 	{margin-bottom: -1px}
.m-b-n-2x 	{margin-bottom: -2px}
.m-b-n-xxs 	{margin-bottom: -3px}
.m-b-n-xs 	{margin-bottom: -5px}
.m-b-n-sm 	{margin-bottom: -10px}
.m-b-n 		{margin-bottom: -15px}
.m-b-n-md 	{margin-bottom: -20px}
.m-b-n-lg 	{margin-bottom: -25px}
.m-b-n-xl 	{margin-bottom: -30px}
.m-b-n-xxl 	{margin-bottom: -50px}

/*===========margin top===========*/
.m-t-1x 	{margin-top: 1px}
.m-t-2x 	{margin-top: 2px}
.m-t-xxs 	{margin-top: 3px}
.m-t-xs 	{margin-top: 5px}
.m-t-sm 	{margin-top: 10px}
.m-t 		{margin-top: 15px}
.m-t-md 	{margin-top: 20px}
.m-t-lg 	{margin-top: 25px}
.m-t-xl 	{margin-top: 30px}
.m-t-xxl 	{margin-top: 50px}

/*===========margin top negative===========*/
.m-t-n-1x 	{margin-top: -1px}
.m-t-n-2x 	{margin-top: -2px}
.m-t-n-xxs 	{margin-top: -3px}
.m-t-n-xs 	{margin-top: -5px}
.m-t-n-sm 	{margin-top: -10px}
.m-t-n 		{margin-top: -15px}
.m-t-n-md 	{margin-top: -20px}
.m-t-n-lg 	{margin-top: -25px}
.m-t-n-xl 	{margin-top: -30px}
.m-t-n-xxl 	{margin-top: -50px}

/*===========margin left===========*/
.m-l-1x 	{margin-left: 1px}
.m-l-2x 	{margin-left: 2px}
.m-l-xxs 	{margin-left: 3px}
.m-l-xs 	{margin-left: 5px}
.m-l-sm 	{margin-left: 10px}
.m-l 		{margin-left: 15px}
.m-l-md 	{margin-left: 20px}
.m-l-lg 	{margin-left: 25px}
.m-l-xl 	{margin-left: 30px}
.m-l-xxl 	{margin-left: 50px}

/*===========margin Left negative===========*/
.m-l-n-1x 	{margin-left: -1px}
.m-l-n-2x 	{margin-left: -2px}
.m-l-n-xxs 	{margin-left: -3px}
.m-l-n-xs 	{margin-left: -5px}
.m-l-n-sm 	{margin-left: -10px}
.m-l-n 		{margin-left: -15px}
.m-l-n-md 	{margin-left: -20px}
.m-l-n-lg 	{margin-left: -25px}
.m-l-n-xl 	{margin-left: -30px}
.m-l-n-xxl 	{margin-left: -50px}


/*===========margin right===========*/
.m-r-1x 	{margin-right: 1px}
.m-r-2x 	{margin-right: 2px}
.m-r-xxs 	{margin-right: 3px}
.m-r-xs 	{margin-right: 5px}
.m-r-sm 	{margin-right: 10px}
.m-r 		{margin-right: 15px}
.m-r-md 	{margin-right: 20px}
.m-r-lg 	{margin-right: 25px}
.m-r-xl 	{margin-right: 30px}
.m-r-xxl 	{margin-right: 50px}

/*===========margin right negative===========*/
.m-r-n-1x 	{margin-right: -1px}
.m-r-n-2x 	{margin-right: -2px}
.m-r-n-xxs 	{margin-right: -3px}
.m-r-n-xs 	{margin-right: -5px}
.m-r-n-sm 	{margin-right: -10px}
.m-r-n 		{margin-right: -15px}
.m-r-n-md 	{margin-right: -20px}
.m-r-n-lg 	{margin-right: -25px}
.m-r-n-xl 	{margin-right: -30px}
.m-r-n-xxl 	{margin-right: -50px}


/*===========margin horizontal===========*/
.m-h-1x 	{margin-left: 1px; margin-right: 1px}
.m-h-2x 	{margin-left: 2px; margin-right: 2px}
.m-h-xxs 	{margin-left: 3px; margin-right: 3px}
.m-h-xs 	{margin-left: 5px; margin-right: 5px}
.m-h-sm 	{margin-left: 10px; margin-right: 10px}
.m-h 		{margin-left: 15px; margin-right: 15px}
.m-h-md 	{margin-left: 20px; margin-right: 20px}
.m-h-lg 	{margin-left: 25px; margin-right: 25px}
.m-h-xl 	{margin-left: 30px; margin-right: 30px}
.m-h-xxl 	{margin-left: 50px; margin-right: 50px}

/*===========margin horizontal Negative===========*/
.m-h-n-1x 	{margin-left: -1px; margin-right: -1px}
.m-h-n-2x 	{margin-left: -2px; margin-right: -2px}
.m-h-n-xxs 	{margin-left: -3px; margin-right: -3px}
.m-h-n-xs 	{margin-left: -5px; margin-right: -5px}
.m-h-n-sm 	{margin-left: -10px; margin-right: -10px}
.m-h-n 		{margin-left: -15px; margin-right: -15px}
.m-h-n-md 	{margin-left: -20px; margin-right: -20px}
.m-h-n-lg 	{margin-left: -25px; margin-right: -25px}
.m-h-n-xl 	{margin-left: -30px; margin-right: -30px}
.m-h-n-xxl 	{margin-left: -50px; margin-right: -50px}


/*===========margin vertical===========*/
.m-v-1x 	{margin-top: 1px; margin-bottom: 1px}
.m-v-2x 	{margin-top: 2px; margin-bottom: 2px}
.m-v-xxs 	{margin-top: 3px; margin-bottom: 3px}
.m-v-xs 	{margin-top: 5px; margin-bottom: 5px}
.m-v-sm 	{margin-top: 10px; margin-bottom: 10px}
.m-v 		{margin-top: 15px; margin-bottom: 15px}
.m-v-md 	{margin-top: 20px; margin-bottom: 20px}
.m-v-lg 	{margin-top: 25px; margin-bottom: 25px}
.m-v-xl 	{margin-top: 30px; margin-bottom: 30px}
.m-v-xxl 	{margin-top: 50px; margin-bottom: 50px}

/*===========margin Vertical Negative===========*/
.m-v-n-1x 	{margin-top: -1px; margin-bottom: -1px}
.m-v-n-2x 	{margin-top: -2px; margin-bottom: -2px}
.m-v-n-xxs 	{margin-top: -3px; margin-bottom: -3px}
.m-v-n-xs 	{margin-top: -5px; margin-bottom: -5px}
.m-v-n-sm 	{margin-top: -10px; margin-bottom: -10px}
.m-v-n 		{margin-top: -15px; margin-bottom: -15px}
.m-v-n-md 	{margin-top: -20px; margin-bottom: -20px}
.m-v-n-lg 	{margin-top: -25px; margin-bottom: -25px}
.m-v-n-xl 	{margin-top: -30px; margin-bottom: -30px}
.m-v-n-xxl 	{margin-top: -50px; margin-bottom: -50px}


/*======= heading =========*/
h1, .h1 {
	font-size: 44px;
}
h2, .h2 {
	font-size: 30px;
}
h3, .h3 {
	font-size: 26px;
}
h4, .h4 {
	font-size: 20px;
}
h5, .h5 {
	font-size: 18px
}
h6, .h6 {
	font-size: 14px;
}

/*======= font =========*/

.text-xxl {
	font-size: 30px;
}
.text-xl {
	font-size: 24px;
}
.text-lg {
	font-size: 22px;
}
.text-md {
	font-size: 20px
}
.text-sm {
	font-size: 16px;
}
.text-xs {
	font-size: 14px;
}
.text-xxs {
	font-size: 12px;
}


/*=======bg Colors=========*/
.bg-white {
	background-color: #FFFFFF;
}
.bg-nevi {
	background-color: #2F4052;
}
.bg-nevi-dk {
	background-color: #283645;
}
.bg-ash {
	background-color: #888888;
}
.bg-ash-lt {
	background-color: #e7e7e7;
}
.bg-green-lt {
	background-color: #17A78B;
}
.bg-green {
	background-color: #00BC9C;
}
.bg-glow {
	background-color: #FAF7F5;
}


/*=======Text Colors=========*/
.text-dark-dk {
	color: #434343
}
.text-white {
	color: #FFFFFF;
}
.text-green-lt {
	color: #00BC9C;
}
.text-ash {
	color: #506A85;
}
.text-ash-lt {
	color: #73879c;
}

.radius {
    border-radius: 10px;
}